<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Home - Notebook</title>
  <link rel="shortcut icon" href="/assets/images/logo.png">
  <meta property="og:image" content="assets/images/thumbnail.png" />
  <meta name="keywords" content="Notebook, tahsin, ahmed, tushar, tahsin ahmed tushar">
  <meta name="description" content="Capture your thoughts">

  <link rel="stylesheet" href="/assets/css/main.css" />
  <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet" />
</head>

<body class="">
  <div class="container">
    <%- include('./partials/sidebar.ejs'); %>
      <div class="content">
        <%- include('./partials/searchBox.ejs'); %>
          <h2 class="page__title">Home</h2>
          <% if (result && result.notes && typeof result.notes==='object' ) { %>
            <%if (result.notes.pinned && result.notes.pinned.length> 0) {%>
              <p class="note__section_title pinned__title">Pinned</p>
              <div class="notes__grid pinned__notes">
                <% result.notes.pinned.forEach((note)=> {%>
                  <div class="note" data-id="<%= note._id %>"
                    data-note-isPinned="<%= note.pinned === true || note.pinned === 'true' ? 'true' : 'false' %>"
                    data-note-isBookmarked="<%= note.bookmarked === true || note.bookmarked === 'true' ? 'true' : 'false' %>"
                    data-note-isArchived="<%= note.archived === true || note.archived === 'true' ? 'true' : 'false' %>">
                    <h3 class="note__title">
                      <%= note.title.length> 0 && note.title !== 'false' && note.title !== false? note.title.length >
                        40 ? note.title.substr(0, 40) + '...' :
                        note.title : '' %>
                    </h3>
                    <div name="note__summery" class="note__summery">
                      <script type="module">
                        const myunpinnedNote = document.querySelector('.note[data-id="<%= note._id %>"]');
                        myunpinnedNote.querySelector('.note__summery').innerHTML = `<%- note.content.length> 0 && note.content !== 'false' && note.content !== false ? note.content.length> 180 ? note.content.substr(0, 180) + '...' : note.content : '' %>`;
                      </script>
                    </div>

                    <div class="note__options">
                      <button class="note__option_pin" title="Unpin this note">
                        <i class="bx bxs-pin"></i>
                      </button>
                      <button class="note__option_heart" title="<%= note.bookmarked !==true ? 'Add bookmark' : 'Remove bookmark'%>">
                        <% if (note.bookmarked !==true) {%>
                          <i class='bx bx-heart'></i>
                          <%} else {%>
                            <i class='bx bxs-heart-circle'></i>
                            <%}%>
                      </button>
                      <button class="note__option_archive" title="Move to archive">
                        <i class='bx bx-archive-in'></i>
                      </button>
                      <button class="note__option_delete" title="Delete">
                        <i class="bx bx-trash"></i>
                      </button>
                    </div>
                  </div>
                  <%})%>
              </div>
              <p class="note__section_title other__title">Others</p>
              <%}%>
                <%} %>
                  <div class="notes__grid unpinned__notes">
                    <%if (result.notes.unpinned && result.notes.unpinned.length> 0) {%>
                      <% result.notes.unpinned.forEach((note)=> {%>
                        <div class="note" data-id="<%= note._id %>"
                          data-note-isPinned="<%= note.pinned === true || note.pinned === 'true' ? 'true' : 'false' %>"
                    data-note-isBookmarked="<%= note.bookmarked === true || note.bookmarked === 'true' ? 'true' : 'false' %>"
                    data-note-isArchived="<%= note.archived === true || note.archived === 'true' ? 'true' : 'false' %>">
                          <h3 class="note__title">
                            <%= note.title.length> 0 && note.title !== 'false' && note.title !== false?
                              note.title.length
                              >
                              40 ? note.title.substr(0, 40) + '...' :
                              note.title : '' %>
                          </h3>
                          <div name="note__summery" class="note__summery">
                              <script type="module">
                                const mypinnedNote = document.querySelector('.note[data-id="<%= note._id %>"]');
                                mypinnedNote.querySelector('.note__summery').innerHTML = `<%- note.content.length> 0 && note.content !== 'false' && note.content !== false ? note.content.length> 180 ? note.content.substr(0, 180) + '...' : note.content : '' %>`;
                              </script>
                          </div>

                          <div class="note__options">
                            <button class="note__option_pin" title="Pin this note">
                              <i class="bx bx-pin"></i>
                            </button>
                            <button class="note__option_heart" title="<%= note.bookmarked !==true ? 'Add bookmark' : 'Remove bookmark'%>">
                              <% if (note.bookmarked !==true) {%>
                                <i class='bx bx-heart'></i>
                                <%} else {%>
                                  <i class='bx bxs-heart-circle'></i>
                                  <%}%>
                            </button>
                            <button class="note__option_archive" title="Move to archive">
                              <i class='bx bx-archive-in'></i>
                            </button>
                            <button class="note__option_delete" title="Delete">
                              <i class="bx bx-trash"></i>
                            </button>
                          </div>
                        </div>
                        <%})%>
                          <%}%>
                  </div>
      </div>
  </div>

  <%- include('./partials/newNotePopup.ejs'); %>

    <script type="module" src="/assets/js/routes/index.js"></script>
</body>

</html>